@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

:root {
    /* set color values */
    --color-main-dark: #27187E;
    --color-main: #758BFD;
    --color-main-light: #AEB8FE;
    --color-main-lighter: #F1F2F6;
    --color-secondary: #FF8600;
    --color-secondary-light: #FFA217;
    --gradient-main: linear-gradient(0deg, rgba(117,139,253,1) 0%, rgba(241,242,246,1) 100%);

    /* set font family */
    --type-main: 'Roboto', sans-serif;
    --type-second: 'Roboto Condensed', sans-serif;
    
    /* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    
    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

* {
    font-family: var(--type-main);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--text-xxxl);
    color: var(--color-main-dark);
}

h2 {
    font-size: var(--text-xxl);
    color: var(--color-main-dark);
}

h3 {
    font-size: var(--text-xl);
}

p {
    font-size: var(--text-base-size);
}

/* Esconder el SPA */
section.hide {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: var(--gradient-main);
}

section {
    padding: 10px 0px;
}

body>section {
    margin: 0px 50px;
}

body>img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: grayscale(100%);
    filter: opacity(30%);
    mix-blend-mode: luminosity;
}

/* -------------------- nav */

nav {
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: var(--color-main-lighter);
    background-color: var(--color-main-dark);
}

nav>div>span {
    font-size: var(--text-md);
}

nav>div#menu-nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
nav>div#menu-nav>span:hover {
    color: var(--color-secondary);
}

nav>div#btn-nav {
    width: 30%;
    height: 100%;
    background-color: var(--color-main-light);
    color: var(--color-main-dark); 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
nav>div#btn-nav:hover {
    background-color: var(--color-secondary-light);
}

/* -------------------- botones */

button {
    margin-top: 5vw;
}

button, input {
    width: 80vw;
    height: 8vh;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(0.5rem); 

    -webkit-box-shadow:  0px 3px 7px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:  0px 3px 7px 0px rgba(0,0,0,0.3);
    box-shadow:  0px 3px 7px 0px rgba(0,0,0,0.3);
}

input {
    font-family: var(--type-main);
    font-size: var(--text-md);
    font-weight: 400;
    /* Este no va */
    color: var(--color-main);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
}

button.btn-answer {
    margin-bottom: 10px;
    font-size: var(--text-base-size);
}

button#start-game {
    font-size: var(--text-md);
    font-weight: 400;
}

section#question {
    margin: 0px 50px;
    font-weight: 700;
    font-size: var(--text-md);
    color: var(--color-main-dark);
}

p#currentPosition {
    font-family: var(--type-second);
    font-size: var(--text-scale-ratio);
    font-weight: 300;
    color: var(--color-main-dark);
}

.correct {
    background-color: greenyellow;
}

.wrong {
    background-color: red;
}