/* Roboto light, regular, bold */
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
/* Roboto condensed light and bold */
/* font-family: 'Roboto Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

section.hide {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-image: url('./assets/background/pexels-kwnos-iv-16785255.jpg');
    object-fit: cover; */
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: aliceblue;
    background-color: blue;
}

body>section {
    padding: 50px;
}

nav>span:hover {
    color: yellow;
    text-decoration: underline;
}